<div class="my-messages" style="display: inline-block; "  >
    <!-- Show message folders -->
   
      <!-- Renders a list of folders -->
      <div class="list-group" style="width: 150px;display: inline-block; overflow-y: scroll; height:250px;width: 15%">            
        <a  *ngFor="let folder of folderlists" [routerLink] = "folder._id" class="list-group-item list-group-item-action"><i class="fa fa-folder-o" aria-hidden="true"></i> {{folder._id}}</a>   
      </div>   
    <router-outlet></router-outlet>
    
  </div>